PORT=4000
NODE_ENV=Ex: development, production
DATABASE_URL= production-database-url
JWT_SECRET= production-jsonwebtoken-secret
JWT_EXPIRES_IN= Ex: 10d, 30d, 90d etc
JWT_COOKIE_EXPIRES_IN= Ex: 10, 20, 30, 90 etc

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET_KEY=

DEFAULT_USER_PHOTO= default-photo-url